<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static  'css/admin_pannel/added_title_sub_page.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/admin_pannel/navbar.css' %}" />

    <link
      rel="stylesheet"
      href="{% static 'css/admin_pannel/sidebar_sub.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'fontawesome-free-6.0.0-beta3-web/css/all.css' %}"
    />
    <title>Document</title>
    <script src="{% static 'js/admin_pannel.js' %}"></script>
  </head>

  <body>
    <div class="newsportal_adminpannel_maincontainer">
      <!-- navbar starts -->
      {% include 'admin_pannel/admin_panel_navbar.html' %}

      <!-- navbar ends -->
      <div class="newsportal_adminpannel_subcontainer">
        <!-- sidebar starts -->
        <div class="np_ap_sc1">
          {% include 'admin_pannel/sub-category/sidebar_sub.html' %}
        </div>
        <!-- sidebar ends -->

        <!-- mainbody starts -->
        <div class="np_ap_tf_title_content">
          <!-- tf title firstpart starts-->
          <div class="np_ap_tf_title_content_fp">
            <div class="np_ap_tf_title_left">{{current_query.name}}</div>
            <div class="np_ap_tf_title_right">
              <a href="{% url 'ap_add_news'  %}" class="np_ap_tf_title_addbtn"
                >Add समाचार</a
              >
            </div>
          </div>
          <!-- tf title firstpart ends-->

          <!-- tf title secondpart starts-->
          <div class="np_ap_tf_title_content_sp">
            <table id="np_ap_tf_title_table">
              <tr>
                <th id="np_ap_title_sp_1">SN</th>
                <th id="np_ap_title_sp_2">News</th>
                <th id="np_ap_title_sp_3">Time</th>
                <th id="np_ap_title_sp_4">Date</th>
                <th id="np_ap_title_sp_5">Author</th>
                <th id="np_ap_title_sp_6">Views</th>
                <th id="np_ap_title_sp_7">Action</th>
              </tr>
              {% for item in news_query %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.title}}</td>
                <td>{{item.time_uploaded}}</td>
                <td>{{item.date_uploaded}}</td>
                <td>{{item.editor_name}}</td>
                <td>{{item.number_of_views}}</td>
                <td>
                  <a href="{% url 'ap_edit_news' item.id %}">
                    <button class="np_ap_tf_title_viewbtn">Edit</button>
                  </a>

                  <a href="{% url 'delete_news_page' item.id %}">
                    <button class="np_ap_tf_title_deletebtn">Delete</button>
                  </a>

                  <button
                    class="np_ap_tf_title_mainbtn_02"
                    onclick="_main_news({{item.id}})"
                  >
                    Main
                  </button>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <!-- tf title secondpart ends-->

          <!-- tf title pagination starts -->
          <!-- tf title pagination ends -->
        </div>
        <!-- mainbody ends -->
        <script>
          window.CSRF_TOKEN = "{{ csrf_token }}";
          function _main_news(ids) {
            alert(ids);
    
            var url = "{% url 'add_main_news_btn' %}";
    
            fetch(url, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": window.CSRF_TOKEN,
              },
              body: JSON.stringify({ mainnewsId: ids }),
            })
              .then((response) => {
                return response.json();
              })
              .then((data) => {
                if (data["_actr"] == "True") {
                  $("#wishlist").load(" #wishlist > *");
                }
              });
          }
        </script>
      </div>
    </div>
  </body>
</html>
