<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'css/admin_pannel/ad_list_page.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'fontawesome-free-6.0.0-beta3-web/css/all.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/admin_pannel/navbar.css' %}">
    <title>Ads</title>
    <script src="{% static 'js/admin_pannel.js' %}"></script>
  </head>

  <body>
    <div class="newsportal_adminpannel_maincontainer">
      {% include 'admin_pannel/admin_panel_navbar.html' %}
      <div class="newsportal_adminpannel_subcontainer">
        {% include 'admin_pannel/sidebar.html' %}
        <!-- mainbody starts -->
        <div class="np_ap_tableform_content">
          <!-- tableform firstpart starts-->
          <div class="np_ap_tableform_content_fp">
            <div class="np_ap_tf_left">Ads</div>
            <div class="np_ap_tf_right">
              <a href="{% url 'add_adds' %}" class="np_ap_tf_addbtn">Add Ads</a>
            </div>
          </div>
          <!-- tableform firstpart ends-->

          <!-- tableform secondpart starts-->
          <div class="np_ap_tableform_content_sp">
            <table id="np_ap_table">
              <tr>
                <th id="np_ap_ad_1">SN</th>
                <th id="np_ap_ad_2">Title</th>
                <th id="np_ap_ad_3">Image</th>
                <th id="np_ap_ad_4">Time</th>
                <th id="np_ap_ad_5">Date</th>
                <th id="np_ap_ad_6">Action</th>
              </tr>
              {% for item in ads_query %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.title}}</td>
                <td>{{item.photo_img}}</td>
                <td>{{item.time_uploaded}}</td>
                <td>{{item.date_uploaded}}</td>

                <td>
                  <a href="{% url 'edit_ads' item.id %}">
                    <button class="np_ap_viewbtn">Edit</button>

                  <a href="{% url 'delete_ads_page' item.id %}">
                    <button class="np_ap_deletebtn">Delete</button>
                  
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <!-- tableform secondpart ends-->

          <!-- tablform pagination starts -->
          <div class="np_ap_tableform_pagination">
            <a href="#" id="pg_left">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#" id="pg_right">&raquo;</a>
          </div>
          <!-- tablform pagination ends -->
        </div>
        <!-- mainbody ends -->
      </div>
    </div>
  </body>
</html>
