<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static  'css/admin_pannel/breaking_news_list_page.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome-free-6.0.0-beta3-web/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/admin_pannel/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/admin_pannel/sidebar.css' %}">
        <title>Breaking_News</title>
        <script src="{% static 'js/admin_pannel.js' %}"></script>
    </head>
    <body>
        <div class="newsportal_adminpannel_maincontainer">
            <!-- navbar starts -->
            {% include 'admin_pannel/admin_panel_navbar.html' %}
            <!-- navbar ends -->
            <div class="newsportal_adminpannel_subcontainer">
                <!-- sidebar starts -->
                {% include 'admin_pannel/sidebar.html' with title_pager=title_high %}
                <!-- sidebar ends -->
                <!-- mainbody starts -->
                <div class="np_ap_tableform_content">
                    <!-- tableform firstpart starts-->
                    <div class="np_ap_tableform_content_fp">
                        <div class="np_ap_tf_left">Breaking_News</div>
                        <div class="np_ap_tf_right">
                            <a href="{% url 'ap_add_breaking_news' %}" class="np_ap_tf_addbtn">Add Breaking_News
                            </a
              >
                        </div>
                    </div>
                    <!-- tableform firstpart ends-->
                    <!-- tableform secondpart starts-->
                    <div class="np_ap_tableform_content_sp">
                        <table id="np_ap_table">
                            <tr>
                                <th id="np_ap_sp_1">SN</th>
                                <th id="np_ap_sp_2">News</th>
                                <th id="np_ap_sp_3">Time</th>
                                <th id="np_ap_sp_4">Date</th>
                                <th id="np_ap_sp_7">Action</th>
                            </tr>
                            {% for i in breaking_query %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.title}}</td>
                                <td>{{i.time_uploaded}}</td>
                                <td>{{i.date_uploaded}}</td>
                                <td>
                                    <a href="{% url 'admin_edit_breaking_news_page' i.id %}">
                                        <button class="np_ap_viewbtn">Edit</button>
                                    </a>
                                    <a href="{% url 'admin_delete_breaking_news' i.id %}">
                                        <button class="np_ap_deletebtn">Delete</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- tableform secondpart ends-->
                </div>
                <!-- mainbody ends -->
            </div>
        </div>
    </body>
</html>
