body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.np_add1_container {
    width: 90%;
    display: flex;
    height: 100%;
    margin: 20px auto;
}

.add1_eachadd {
    width: 25%;
    height: 200px;
    border: 1px solid gray;
    margin: 15px;
}

.add1_eachadd p {
    text-align: center;
}