body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}


/* ***************************************************************************************** */
/* Header and nav bar */

/* breaking news css starts */

.ticker {
  display: flex;
  width: 100%;
  height: 40px;
  z-index: 2;
  position: sticky;
  top: 5.2rem;
}

.news {
  width: 90%;
  background: #EFEFEF;
  padding-left: 5px;
}

.news marquee p {
  margin-top: 8px;
}

.title {
  width: 10%;
  text-align: center;
  background: #fc5050;
  font-size: 1rem;
  color: white;
}

.title h3 {
  font-size: 18px;
  font-family: "Mukta", sans-serif;
  font-weight: bold;
  margin-top: 8px;
}

.news marquee {
  font-size: 18px;
}
.np_nav_header_subcontainer{
  width: 100%;
  z-index: 2;
  position: sticky;
  top: 0rem;
}
/* breaking news css ends  */

.np_nav_header_maincontainer {
    width: 100%;
    height: 100%;
}

.np_nav_header_logo {
    width: 100%;
    margin-top: 20px;
    display: flex;
}

/* hamburger  */
.np_nav_header_hamburger {
    display: none;
}

.np_nav_header_img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.np_nav_header_logo_center {
    width: 53%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

/* english */
.np_nav_header_forEnglish {
    display: none;
}

/* ******************************* */
.np_nav_header_midbar {
    width: 100%;
    border-bottom: solid 1px #707070;
    display: flex;
  width: 100%;
  background-color:white;
  height: 40px;
  z-index: 2;
  position: sticky;
  top: 0rem;
}

.np_nav_header_midbar_row {
    display: flex;
    width: 90%;
    margin: 6px auto;
    padding: 6px 0px;
}

.np_nav_header_midbar_row_left {
    float: left;
    width: 50%;
}

.np_nav_header_midbar_row_left h5 {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    opacity: 0.8;
}

.np_nav_header_midbar_row_right {
    text-align: right;
    width: 50%;
}
.np_nav_header_midbar_icon{
    display: flex;
    float: right;
}

.np_nav_header_midbar_row_right a {
    padding: 0px 7px;
    font-size: 16px;
    color: black;
    opacity: 0.7;
    cursor: pointer;
}


/* navigation bar  */
.np_nav_header_navbar {
    width: 100%;
    height: auto;
    border-bottom: solid 2px #FF0000;
display: flex;
  width: 100%;
  height: 40px;
  z-index: 2;
  position: sticky;
  top: 2.6rem;
  background-color:white;

}

.np_nav_header_navbar_list {
    width: 90%;
    margin: 5px auto;
    height: auto;
    display:flex;
}

.np_nav_header_navbar_item{
    margin: 0px 40px 0px 0px;
    text-decoration: none;
    color: gray;
    font-size: 18px;
}

.nav_active {
    color: #FF0000 !important;
    font-weight: bold;

}
.np_nav_header_navbar_list a{
text-decoration:none;
color:#707070;
}


.nav_dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 3;
}
.np_nav_header_navbar_item:hover .nav_dropdown_content {
  display: block;

}
.nav_dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}
.nav_dropdown_content a:hover {
background-color: #707070;
}



/* ****************************************************************************************************** */

/* Main Heading News Start */


/* css for the front heading news start here */
.np_fnews_maincontainer{
    width: 100%;
    background-color:#EFEFEF;
}
.np_fnews_maincontainer a{
    color: none !important;
    cursor: pointer;
    text-decoration: none;
    width:65%;
    height:100%;
}
.np_fnews_container {
    margin: 0% auto 2% auto;
    height: 500px;
    width:90%;
    background-color:#E8E8E8;
    display: flex;
    position: relative;
}

.np_fnews_imagepart {
    width: 65%;
    /* height: auto; */
    overflow: hidden;
    position: relative;
    height: 500px;
}

.np_fnews_imagepart img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: transform 0.3s ease;
}

.np_fnews_imagepart img:hover {
    transform: scale(1.05);
}

.np_fnews_description {
    width: 35%;
    background-color: #E8E8E8;
}

.np_fnews_description_mhead {
    padding: 3% 10% 3% 10%;
    color:black ;
}

.np_fnews_description_mhead h1:hover {
    color: red;
}

.np_fnews_description_mnews {
    padding: 0% 10% 6% 10%;
}

.np_fnews_description_mnews p {
    color: black;
    line-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    margin-block-start: 0em;
    margin-block-end: 0em;
}


.np_fnews_description_lr {
    padding: 0% 10%;
    display: flex;
    width: 80%;

}

.np_fnews_description_lr_time {
    display: flex;
    width: 70%
}
.np_fnews_description_lr_time i{
color:black;
font-size: 17px;
}

.np_fnews_description_lr_time p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-left: 8px;
    font-size: small;
    color:black;
}

.np_fnews_description_lr_ac {
    width: 30%;
}

.np_fnews_description_lr_ac a {
    float: right;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: small;
    text-decoration: none;
    color:black;
}

.np_fnews_description_lr_ac a:hover {

    color: red;
}

/* for Mobile form  content to be overwritten starts here*/
.mobile_content {
    position: absolute;
    bottom: 0px;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(79, 76, 76, 0.4);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    padding: 3px 20px;
    max-width: 550px;
}

.np_fnews_description_mhead_mobile h2 {
    padding-bottom: 2%;
    padding-top: 2%;
}


.np_fnews_description_lr_time_mobile {
    display: flex;
    /* padding-top:2%; */
}

.np_fnews_description_lr_time_mobile p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-left: 15px;
    font-size: smaller;
}

/* Main Heading News End*/
/* ********************************************************************************************** */

/* Rajniti News session */
.np_rajniti_primecontainer{
    width: 90%;
    margin: 2% auto ;
    display: flex
}
.np_rajniti_maincontainer {
   width: 75%;
}

.np_rajniti_heading {
    border-bottom: solid 2px #FF0000;
}

.np_rajniti_heading h4 {
    margin: 0px 0px 5px 0px;
    padding: 0px;
    font-size: 16px;
}

.np_rajniti_newspart {
    display: flex;
}

/* newspart left starts*/
.np_rajniti_newspart_left {
    width: 50%;
    margin-right: 5px;
    height: auto;
}

.np_rajniti_newspart_left a {
    text-decoration: none;
    color: black;
}

/* small news container start here */
.np_rajniti_newspart_left_small_container {
    margin: 20px 0px;
    height: 400px;
}

.np_rajniti_newspart_left_small_container_image {
    width: 100%;
    overflow: hidden;
    height: 70%;
}

.np_rajniti_newspart_left_small_container_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.np_rajniti_newspart_left_small_container_image img:hover {
    transform: scale(1.05);
}

.np_rajniti_newspart_left_small_container_description {
    width: 100%;
    background-color: #dfd9d9ee;
    height: 30%;
}

.np_rajniti_newspart_left_small_container_description h1 {
    padding: 25px;
    font-size: x-large;
    cursor: pointer;
    font-size: 28px;
    margin: 0px;

}

.np_rajniti_newspart_left_small_container_description h1:hover {
    color: red;
}

/* small news container ends here */
/* news left ends */


/* newspart right starts */
.np_rajniti_newspart_right {
    width: 50%;
    margin-left: 10px;
    height: auto;
}

.np_rajniti_newspart_right a {
    text-decoration: none;
    color: black;
}

/* small news container start here */
.np_rajniti_newspart_right_small_container {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    height: 120px;
    transition: width 0.5s, transform 0.5s;
}

.np_rajniti_newspart_right_small_container:hover {
    width: 90%;
}

.np_rajniti_newspart_right_small_container_image {
    width: 40%;
    overflow: hidden;
}

.np_rajniti_newspart_right_small_container_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

}

.np_rajniti_newspart_right_small_container_image img:hover {
    transform: scale(1.05);
}

.np_rajniti_newspart_right_small_container_description {
    width: 60%;
    background-color: #dfd9d9ee;
}

.np_rajniti_newspart_right_small_container_description h1 {
    padding: 15px 30px;
    font-size: x-large;
    cursor: pointer;
    font-size: 20px;

}

.np_rajniti_newspart_right_small_container_description h1:hover {
    color: red;
}

/* ********************************************************************************************** */
/* Artha news Session starthere */
.np_artha_primecontainer{
  
    width: 100%;
    background-color:#0E6142 ;
    
  
}
.np_artha_news_ads_flex{
    width: 90%;
    margin: auto;
    display: flex;
}
/* ads container */
.np_ads3_container {
    width: 25%;
    height: 100%;
    margin: 20px;
}

.ads3_eachadd {
    width: 320px;
    height: 200px;
    border: 1px solid gray;
    margin: 15px;
}

.ads3_eachadd p {
    text-align: center;
}

/* Artha news start */
.np_artha_maincontainer{
    width: 75%;
  
   

}

.np_artha_heading{
   padding: 10px 0px;
    border-bottom: solid 2px #FF0000;
    
}
.np_artha_heading h4{
    margin: 0px;
    padding: 0px;
   font-size: 20px;
    color: white;
}
.np_artha_newspart{
    display: flex;
}
/* newspart left starts*/
.np_artha_newspart_left{
    width: 50%;
    margin-right: 5px;
    height: auto;  
}
.np_artha_newspart_left a{
    text-decoration: none;
    color: black;
}

/* small news container start here */
.np_artha_newspart_left_small_container{
    margin:20px 0px;
    height: 400px;
}

.np_artha_newspart_left_small_container_image{
    width: 100%;
    overflow: hidden; 
    height: 70%;
}
.np_artha_newspart_left_small_container_image img{
    width: 100%;
    height:100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.np_artha_newspart_left_small_container_image img:hover{
    transform: scale(1.05); 
}
.np_artha_newspart_left_small_container_description{
    width:100%;
    background-color:#096e49 ;
    height: 30%;  
    
}
.np_artha_newspart_left_small_container_description:hover{
    background-color: #dfd9d9ee; 
}
.np_artha_newspart_left_small_container_description h1{
    padding:25px ;
    font-size: x-large;
    cursor: pointer;
    font-size: 28px;
    margin: 0px;
    color: white;
   
}
.np_artha_newspart_left_small_container_description h1:hover{
    color:red;
   
}
/* small news container ends here */
/* news left ends */


/* newspart right starts */
.np_artha_newspart_right{
    width: 50%;
    margin-left: 10px;
    height: auto;
}
.np_artha_newspart_right a{
    text-decoration: none;
    color: black;
}

/* small news container start here */
.np_artha_newspart_right_small_container{
    margin:20px 0px;
    display: flex;
    height: 120px;
}
.np_artha_newspart_right_small_container:hover{
    width: 90%;
}
.np_artha_newspart_right_small_container_image{
    width: 40%;
    overflow: hidden; 
}
.np_artha_newspart_right_small_container_image img{
    width: 100%;
    height:100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease ;  
}
.np_artha_newspart_right_small_container_image img:hover{
    transform: scale(1.05); 
}
.np_artha_newspart_right_small_container_description{
    width:60%;
    background-color:#096e49 ;
}
.np_artha_newspart_right_small_container_description:hover{
    background-color: #dfd9d9ee; 
}
.np_artha_newspart_right_small_container_description h1{
    padding:15px 30px;
    font-size: x-large;
    cursor: pointer;
    font-size: 20px;
    color:white;
   
}
.np_artha_newspart_right_small_container_description h1:hover{
    color:red;
}
   
/* small news container ends here */
/* news right ends */



/* ********************************************************************************************** */
/* Manoranjan News Session*/
.np_n3_container {
    height: auto;
    width: 100%;
    background-color: #F2F2F2;
    color: black;
    margin: 20px opx;
}

.np_n3_content {
    width: 92%;
    margin: auto;
    padding: 2% 0%;
}


.np_n3_heading {
    font-weight: bold;
    font-size: large;
    padding-bottom: 10px;
    margin: 0px 10px;
}

.np_n3_heading hr {
    border: 1px solid #FF0000;
}

.np_n3_news3 {
    width: 100%;
    display: flex;
    margin-top: 12px;
}

.np_n3_news3 a {
    text-decoration: none !important;
    color: black;
}

.np_n3_newsitem {
    background-color: #E8E8E8;
    margin: 10px;
    cursor: pointer;
    transition: transform .4s;
      width: 256px;
    height: 335px;
}

.np_n3_newsitem:hover {
    transform: scale(1.05);
}

.np_n3_image {
    height: 213px;
    width: 255px;

}

.np_n3_image img {
    width: 100%;
    height: 100%;
}

.np_n3_text {
    text-align: center;
}

.np_n3_text:hover {
    color: red;
}

.np_n3_footer {
    display: flex;
    margin-left: 50px;
}

.np_n3_footer i {
    padding: 20px 17px;
}

/* *********************************************************************************************** */
/* video Session */
.np_vp_container {
    height: auto;
    width: 100%;
    background-color: #000000;
}

.np_vp_content {
    padding: 2% 5% 2% 5%;
}

.np_vp_heading {
    color: white;
    font-weight: bold;
    font-size: large;
}

.np_vp_heading hr {
    border: 1px solid #FF0000;
}

.np_vp_videocontainer {
    height: 250px;
    width: 100%;
    padding: 1% 0%;
    color: white;
    display: flex !important;
}


.np_vp_videolink {
    height: 240px;
    width: 320px;
    margin: auto;
    border: 1px solid white;
}

.np_vp_videolink img {
    width: 100%;
    height: 100%;
}

.np_vp_videolink:hover {
    transform: scale(1.05);
}

.np_vp_videolink iframe {
    width: 100%;
    height: 100%;
}

#company_list .owl-stage-outer {
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}

#company_list .owl-nav {
    position: absolute;
    width: 110%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* background-color: aqua; */
    color: white;
    font-size: 40px;
    font-weight: bold;
    z-index: 2;
}

#company_list .owl-nav .owl-prev {
    position: relative;
    float: left;
    display: block;
}

#company_list .owl-nav .owl-next {
    position: relative;
    float: right;
    display: block;
}

#company_list .owl-nav .owl-prev span {
    padding: 110px 14px;
    /* margin-left: -50px; */
}

#company_list .owl-nav .owl-next span {
    padding: 110px 14px;
    /* margin-left: -50px; */
}


/* On hover, add a black background color with a little bit see-through */

#company_list .owl-nav .owl-prev span:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

#company_list .owl-nav .owl-next span:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* ********************************************************************************************* */

/* Footer Session Start Here */
.np_footer_container {
    height: auto;
    width: 100%;
}

.np_footer_top {
    height: 310px;
    width: 100%;
    display: flex;
    background-color: #AC0000;
    color: white;
}

.np_footer_col1 {
    width: 35%;
    margin: auto;
}

.np_footer_col2 {
    width: 20%;
}

.np_footer_col3 {
    width: 20%;
}

.np_footer_col4 {
    width: 25%;
}

.np_footer_col_content {
    margin: 5%;
}

.np_footer_col_content p {
    color: #ffffff;
    font-size: 16px;
}

.np_footer_logo {
    width: 70%;
    margin: auto auto auto 55px;
}

.np_footer_logo img {
    height: 100%;
    width: 100%;
}

.np_footer_top h3 {
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
}

.np_footer_bottom {
    height: 40px;
    width: 100%;
    background-color: #281713;
    display: flex;
    color: white;
}

.np_footer_bottom_left {
    width: 70%;
}

.np_footer_bottom_right {
    width: 30%;
}

.np_footer_bottom_left p {
    float: left;
    margin-left: 50px;
    margin-top: 12px;
}

.np_footer_bottom_right p {
    float: right;
    margin-right: 50px;
    margin-top: 12px;
}




