body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #F2F2F2;
}

a {
    text-decoration: none;
}

.newsportal_adminpannel_maincontainer {
    display: block;
}



.newsportal_adminpannel_subcontainer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
}


/* css for breaking news page starts */

.np_ap_tableform_content {
    width: 86%;
    height: auto;
    padding-top: 3.5%;
}


/* tableform first part css starts */

.np_ap_tableform_content_fp {
    display: flex;
    width: 94%;
    margin: 20px auto;
}

.np_ap_tf_left {
    float: left;
    width: 50%;
    font-size: 22px;
    padding: 8px 0px;
    color: #2C2A2E;
}

.np_ap_tf_right {
    text-align: right;
    width: 50%;
}

.np_ap_tf_addbtn {
    background-color: #15BBF8;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}


/* tableform first part css starts */


/* tableform second part css starts */

.np_ap_tableform_content_sp {
    width: 94%;
    margin: auto;
}

#np_ap_table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    border: solid 2px #393939;
}

th {
    background-color: #393939;
    color: #FFFFFF;
    font-weight: normal;
}

#np_ap_ad_1 {
    width: 5%;
}

#np_ap_ad_2 {
    width: 40%;
}

#np_ap_ad_3 {
    width: 10% !important;
}

#np_ap_ad_4 {
    width: 12.5%;
}

#np_ap_ad_5 {
    width: 12.5%;
}

#np_ap_ad_6 {
    width: 25%;
}


tr {
    border: none;
    height: 35px;
    font-size: 17px;
    text-align: center;
    width: 100%;
}

td {
    border-right: solid 2px #393939;
    border-left: solid 2px #393939;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    color: #2C2A2E;

}

.np_ap_viewbtn {
    width: 76px;
    height: 30px;
    background-color: #15BBF8;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    color: #ffffff;
    border: 2px solid #15BBF8;
    border-radius: 10px;
    font-weight: 20;
}

.np_ap_deletebtn {
    width: 76px;
    height: 30px;
    background-color: #C70505;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    color: #ffffff;
    border: 2px solid#C70505;
    border-radius: 10px;
    font-weight: 20;
}


/* tableform second part css ends */


/* pagination css starts */

.np_ap_tableform_pagination {
    text-align: center;
    margin: 40px auto;
    width: 80%;
}

.np_ap_tableform_pagination a {
    color: #707070;
    text-align: center;
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.8;
}

#pg_left {
    font-size: 25px;
}

#pg_right {
    font-size: 25px;
}

.np_ap_tableform_pagination a.active {
    background-color: #FEC8C8;
    color: #FF0000;
    border-radius: 5px;
}

.np_ap_tableform_pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}


/* pagination css ends */


/* css for breaking news page ends */