body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #F2F2F2;
}

a {
    text-decoration: none;
}

.newsportal_adminpannel_maincontainer {
    display: block;
}



.newsportal_adminpannel_subcontainer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
}


/* css for main body starts  */

.ap_layout_main_body {
    height: auto;
    margin-top: 45px;
    position: absolute;
    left: 25%;
    display: flex;
}


/* css for the card component in main body  */

.npap_boxandimg {
    height: 300px;
    width: 50%;
    background-color: #F2F2F2;
}

.npap_eachbox {
    height: 300px;
    width: 250px;
    text-align: center;
    margin: 100px;
    border-radius: 20px;
}

.npap_imagepart {
    height: 77%;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
}

.npap_textpart {
    height: 23%;
    color: white;
    font-weight: bolder;
    font-size: larger;
    background-color: #15BBF8;
    border-radius: 0px 0px 20px 20px;
}

.npap_imagepart img {
    width: 60%;
    height: 60%;
    margin-top: 45px;
    object-fit: contain;
}

.npap_textpart p {
    padding-top: 19px;
    margin-block-start: 0em;
}