
/* css for sidebar starts */

.ap_onclick_sidebar_bck {
    margin-top: 53px;
}

.ap_onclick_sidebar_container {
    background-color: #2c2a2e;
    width: 12%;
    height: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    overflow-x: hidden;
    padding: 0.5% 1%;
    border-right: 4px solid #15BBF8;
}

.ad_sidebar_btn {
    display: grid;
}

.ad_sidebar_btn button,
.ap_samachar_add_btn button {
    background-color: #474747;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.ad_sidebar_btn span {
    padding-left: 5%;
    font-size: 1.2em;
}

.ad_sidebar_btn_content {
    padding: 2% 3%;
}

.np_sidebar_btn_row {
    display: flex;
    width: 100%;
}

.np_sidebar_btn_col1 {
    width: 90%;
    padding: 4% 0%;
}

.np_sidebar_btn_col2 {
    width: 10%;
    padding: 6% 3%;
}

.ad_sidebar_btn button:hover {
    background-color: #15BBF8;
}

button:hover {
    color: black;
}

.np_sidebar_btn_col1 img {
    object-fit: cover;
}

#hr {
    border: 1.5px solid #15BBF8;
}

.ap_samachar_add_btn {
    /* width:100%; */
    text-align: center;
    padding: 2% 3%;
}

.ap_samachar_add_btn img {
    padding: 3% 5%;
}


/*css for side bar ends  */

