{% load static %}
<!-- first news container -->

<div class="np_fnews_maincontainer">
  {% for i in main_news_query %}

    <div class="np_fnews_container">
      <div class="np_fnews_imagepart">
        <img src="{{i.standard_news.photo_img.url}}" alt="" />
        <!-- code for the mobile form to be displayed start here-->
        <div class="mobile_content">
          <div class="np_fnews_description_mhead_mobile">
            <h2>{{i.standard_news.title}}</h2>
          </div>
          <div class="np_fnews_description_lr_time_mobile">
            <i class="far fa-clock" style="font-size: 17px"></i>
            <p>{{i.time_uploaded}}</p>
          </div>
        </div>
        <!-- code for the mobile form to be displayed ends here -->
      </div>

      <!-- html code for the description part starts here -->

      <div class="np_fnews_description">
        <div class="np_fnews_description_mhead">
          <h1>{{i.standard_news.title}}</h1>
        </div>
        <div class="np_fnews_description_mnews">
          <p>{{i.standard_news.news_summary}}</p>
        </div>
        <div class="np_fnews_description_lr">
          <div class="np_fnews_description_lr_time">
            <i class="far fa-clock" style="font-size: 17px"></i>
            <p>{{i.time_uploaded}}</p>
          </div>

          <div class="np_fnews_description_lr_ac">
            <a href="{% url 'nepali_per_page' i.standard_news_id %}">थप हेर्नुहोस</a>
          </div>

        </div>
      </div>
      <!-- html code for the description part ends here -->
    </div>

  {% endfor %}
</div>
